{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block main %}
<section class="container">
    <h1>Login</h1>
    <div class="form-container">
        <form method="post" action="{{ url_for('login') }}">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
    {% if response %}
        <div>
            <small>{{response}}</small>
        </div>
    {% endif %}
    <br>
    <a class="back-button" href="{{ url_for('index') }}">Back</a>
</section>
{% endblock %}
