{% extends "layout.html" %}

{% block title %} XSS {% endblock %}

{% block main %}
<section class="container">
    <h1>XSS</h1>
    {% if response %}
        <span style="color: purple;">{{ response | safe }}</span>
    {% endif %}
    <div class="form-container">
        <form method="get" action="/xss">
            Text: <input type="text" name="txt">
            <input type="submit" value="Add">
        </form>
    </div>
    <br>
    <a class="back-button" href="{{ url_for('index') }}">Back</a>
</section>


{% endblock %}